body{
    background: url("https://img.lovepik.com//photo/40005/5798.jpg_860.jpg");
    background-size: contain;
}
.header{
    background-color: white;
    background-size: contain;
    display: flex;
    justify-content: center;
}
.all{
    display: flex;
    justify-content: center;
}
.main{
    width: 40%;
}
.board{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 3px;
    grid-auto-rows: minmax(100px, auto);
    /*display: flex;
    justify-content: center;
    background: wheat;*/
}
.card{
    width: 70%;
    height: 85%;
    margin-bottom: 50px;
    background: url("https://i.pinimg.com/originals/90/92/41/909241e43cffbca0ba6bfd0d5107b4c3.png");
    background-size: 95%;
    text-align: center;
    font-size: xx-large;
    border-radius: 12px;
}
.Win{
    width: 70%;
    height: 85%;
    margin-bottom: 50px;
    /*display: grid;
    grid-template-rows: auto;
    justify-content: center;*/
    background: url("https://static.wixstatic.com/media/2e12b2_d1506cac87934f8a99de450c52038e74~mv2_d_4080_2720_s_4_2.jpg/v1/fit/w_500,h_500,q_90/file.jpg");
    background-size: contain;
    text-align: center;
    font-size: xx-large;
    border-radius: 12px;
}
.flipped{
    width: 70%;
    height: 85%;
    margin-bottom: 50px;
    background-color: white;
    text-align: center;
    font-size: xx-large;
    border-radius: 12px;
}
#placepoints{
    background-color: white;
    background-size: contain;
    display: flex;
    justify-content: center;
}
.button{
    float: right;
}
#buttons{
    border: 5px solid black;
    background-color: whitesmoke;
    text-align: left;
}
#end {
    width: 300px;
    height: 300px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    text-align: center;
    font-size: xx-large;
  }
  
@keyframes example {
    0%   {background-color:red;}
    25%  {background-color:yellow;}
    50%  {background-color:blue;}
    75%  {background-color:green;}
    100% {background-color:red;}
  }